In [1]:
import pandas as pd
import numpy as np

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.3 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\traitlets\config\application.py", line 992, in launch_instance
    app.start()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 736, in start
    self.io_loop.start()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 195, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\asyncio\base_events.py", line 607, in run_forever
    self._run_once()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\asyncio\base_events.py", line 1922, in _run_once
    handle._run()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 516, in dispatch_queue
    await self.process_one()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 505, in process_one
    await dispatch(*args)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 412, in dispatch_shell
    await result
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 740, in execute_request
    reply_content = await reply_content
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 422, in do_execute
    res = shell.run_cell(
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 546, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3024, in run_cell
    result = self._run_cell(
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3079, in _run_cell
    result = runner(coro)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3284, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3466, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3526, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\javer\AppData\Local\Temp\ipykernel_24136\2162656668.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\__init__.py", line 39, in <module>
    from pandas.compat import (
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\compat\__init__.py", line 27, in <module>
    from pandas.compat.pyarrow import (
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\compat\pyarrow.py", line 8, in <module>
    import pyarrow as pa
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pyarrow\__init__.py", line 65, in <module>
    import pyarrow.lib as _lib

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.3 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\traitlets\config\application.py", line 992, in launch_instance
    app.start()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 736, in start
    self.io_loop.start()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 195, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\asyncio\base_events.py", line 607, in run_forever
    self._run_once()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\asyncio\base_events.py", line 1922, in _run_once
    handle._run()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 516, in dispatch_queue
    await self.process_one()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 505, in process_one
    await dispatch(*args)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 412, in dispatch_shell
    await result
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 740, in execute_request
    reply_content = await reply_content
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 422, in do_execute
    res = shell.run_cell(
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 546, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3024, in run_cell
    result = self._run_cell(
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3079, in _run_cell
    result = runner(coro)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3284, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3466, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3526, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\javer\AppData\Local\Temp\ipykernel_24136\2162656668.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\core\api.py", line 9, in <module>
    from pandas.core.dtypes.dtypes import (
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\core\dtypes\dtypes.py", line 24, in <module>
    from pandas._libs import (
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pyarrow\__init__.py", line 65, in <module>
    import pyarrow.lib as _lib

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.3 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\traitlets\config\application.py", line 992, in launch_instance
    app.start()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 736, in start
    self.io_loop.start()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 195, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\asyncio\base_events.py", line 607, in run_forever
    self._run_once()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\asyncio\base_events.py", line 1922, in _run_once
    handle._run()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 516, in dispatch_queue
    await self.process_one()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 505, in process_one
    await dispatch(*args)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 412, in dispatch_shell
    await result
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 740, in execute_request
    reply_content = await reply_content
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 422, in do_execute
    res = shell.run_cell(
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 546, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3024, in run_cell
    result = self._run_cell(
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3079, in _run_cell
    result = runner(coro)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3284, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3466, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3526, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\javer\AppData\Local\Temp\ipykernel_24136\2162656668.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\array.py", line 50, in <module>
    from pandas.core import (
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\core\ops\__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\core\ops\array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\core\computation\expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\core\computation\check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\numexpr\__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.3 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\traitlets\config\application.py", line 992, in launch_instance
    app.start()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 736, in start
    self.io_loop.start()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 195, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\asyncio\base_events.py", line 607, in run_forever
    self._run_once()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\asyncio\base_events.py", line 1922, in _run_once
    handle._run()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 516, in dispatch_queue
    await self.process_one()
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 505, in process_one
    await dispatch(*args)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 412, in dispatch_shell
    await result
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 740, in execute_request
    reply_content = await reply_content
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 422, in do_execute
    res = shell.run_cell(
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 546, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3024, in run_cell
    result = self._run_cell(
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3079, in _run_cell
    result = runner(coro)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3284, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3466, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3526, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\javer\AppData\Local\Temp\ipykernel_24136\2162656668.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py", line 60, in <module>
    from pandas.core import (
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\core\nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\javer\AppData\Local\anaconda3\Lib\site-packages\bottleneck\__init__.py", line 7, in <module>
    from .move import (move_argmax, move_argmin, move_max, move_mean, move_median,

AttributeError: _ARRAY_API not found

In [2]:
import os
# Get the current working directory
current_directory = os.getcwd()
print(f"Current Directory: {current_directory}")
new_directory = "D:/Stevens/Fall 2024/Data BIA 810/MIS 637"
os.chdir(new_directory)

# Verify the change
print(f"Directory changed to: {os.getcwd()}")

Current Directory: C:\Users\javer\BIA 810 & MIS 637
Directory changed to: D:\Stevens\Fall 2024\Data BIA 810\MIS 637

In [3]:
DF1 = pd.read_csv("diabetes.csv")
DF2 = pd.read_csv("diabetes_prediction_dataset.csv")
DF1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
DF2

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [5]:
merged_DF = pd.concat([DF1, DF2], axis=0, ignore_index=True)
merged_DF

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,80.0,0.0,0.0,No Info,27.32,6.2,90.0,0.0
100764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,2.0,0.0,0.0,No Info,17.37,6.5,100.0,0.0
100765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male,66.0,0.0,0.0,former,27.83,5.7,155.0,0.0
100766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,24.0,0.0,0.0,never,35.42,4.0,100.0,0.0
100767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,57.0,0.0,0.0,current,22.43,6.6,90.0,0.0

In [6]:
merged_DF['gender'] = merged_DF['gender'].fillna('Female')
merged_DF

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,80.0,0.0,0.0,No Info,27.32,6.2,90.0,0.0
100764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,2.0,0.0,0.0,No Info,17.37,6.5,100.0,0.0
100765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male,66.0,0.0,0.0,former,27.83,5.7,155.0,0.0
100766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,24.0,0.0,0.0,never,35.42,4.0,100.0,0.0
100767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,57.0,0.0,0.0,current,22.43,6.6,90.0,0.0

In [7]:
merged_DF['Age'] = merged_DF['Age'].fillna(0) + merged_DF['age'].fillna(0)
merged_DF

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.0,NaN,Female,80.0,0.0,0.0,No Info,27.32,6.2,90.0,0.0
100764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,Female,2.0,0.0,0.0,No Info,17.37,6.5,100.0,0.0
100765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,NaN,Male,66.0,0.0,0.0,former,27.83,5.7,155.0,0.0
100766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,NaN,Female,24.0,0.0,0.0,never,35.42,4.0,100.0,0.0
100767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,NaN,Female,57.0,0.0,0.0,current,22.43,6.6,90.0,0.0

In [8]:
merged_DF.loc[(merged_DF['gender'] == 'Male') & (merged_DF['Pregnancies'].isna()), 'Pregnancies'] = 0

# Step 2: For females, fill NaN pregnancy values based on the distribution of existing values
# Extract the non-NaN pregnancy values for females
female_pregnancy_values = merged_DF[merged_DF['gender'] == 'Female']['Pregnancies'].dropna()

# Sample from the non-NaN pregnancy values for females
# This ensures the NaN values in the pregnancy column are replaced according to the distribution
merged_DF.loc[(merged_DF['gender'] == 'Female') & (merged_DF['Pregnancies'].isna()), 'Pregnancies'] = \
    np.random.choice(female_pregnancy_values, size=merged_DF[(merged_DF['gender'] == 'Female') & (merged_DF['Pregnancies'].isna())].shape[0])

merged_DF

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,3.0,NaN,NaN,NaN,NaN,NaN,NaN,80.0,NaN,Female,80.0,0.0,0.0,No Info,27.32,6.2,90.0,0.0
100764,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,Female,2.0,0.0,0.0,No Info,17.37,6.5,100.0,0.0
100765,0.0,NaN,NaN,NaN,NaN,NaN,NaN,66.0,NaN,Male,66.0,0.0,0.0,former,27.83,5.7,155.0,0.0
100766,4.0,NaN,NaN,NaN,NaN,NaN,NaN,24.0,NaN,Female,24.0,0.0,0.0,never,35.42,4.0,100.0,0.0
100767,2.0,NaN,NaN,NaN,NaN,NaN,NaN,57.0,NaN,Female,57.0,0.0,0.0,current,22.43,6.6,90.0,0.0

In [9]:
na_count = merged_DF['Pregnancies'].isnull().sum()
na_count

np.int64(18)

In [10]:
# Update hypertension where BloodPressure > 80
merged_DF.loc[merged_DF['BloodPressure'] > 80, 'hypertension'] = 1

# Fill NaN values in 'hypertension' column with the corresponding values (1 if BloodPressure > 80, else 0)
merged_DF['hypertension'] = merged_DF['hypertension'].fillna((merged_DF['BloodPressure'] > 80).astype(int))

merged_DF

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0,Female,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0,Female,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0,Female,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0,Female,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0,Female,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,3.0,NaN,NaN,NaN,NaN,NaN,NaN,80.0,NaN,Female,80.0,0.0,0.0,No Info,27.32,6.2,90.0,0.0
100764,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,Female,2.0,0.0,0.0,No Info,17.37,6.5,100.0,0.0
100765,0.0,NaN,NaN,NaN,NaN,NaN,NaN,66.0,NaN,Male,66.0,0.0,0.0,former,27.83,5.7,155.0,0.0
100766,4.0,NaN,NaN,NaN,NaN,NaN,NaN,24.0,NaN,Female,24.0,0.0,0.0,never,35.42,4.0,100.0,0.0
100767,2.0,NaN,NaN,NaN,NaN,NaN,NaN,57.0,NaN,Female,57.0,0.0,0.0,current,22.43,6.6,90.0,0.0

In [11]:
count_hypertension_1 = (merged_DF['hypertension'] == 1).sum()

print(count_hypertension_1)

7650

In [12]:
na_count = merged_DF['hypertension'].isnull().sum()
na_count

np.int64(0)

In [13]:
merged_DF['diabetes'] = merged_DF['Outcome'].fillna(0) + merged_DF['diabetes'].fillna(0)
merged_DF

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0,Female,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0,Female,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0,Female,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0,Female,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0,Female,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,3.0,NaN,NaN,NaN,NaN,NaN,NaN,80.0,NaN,Female,80.0,0.0,0.0,No Info,27.32,6.2,90.0,0.0
100764,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,Female,2.0,0.0,0.0,No Info,17.37,6.5,100.0,0.0
100765,0.0,NaN,NaN,NaN,NaN,NaN,NaN,66.0,NaN,Male,66.0,0.0,0.0,former,27.83,5.7,155.0,0.0
100766,4.0,NaN,NaN,NaN,NaN,NaN,NaN,24.0,NaN,Female,24.0,0.0,0.0,never,35.42,4.0,100.0,0.0
100767,2.0,NaN,NaN,NaN,NaN,NaN,NaN,57.0,NaN,Female,57.0,0.0,0.0,current,22.43,6.6,90.0,0.0

In [14]:
na_count = merged_DF['diabetes'].isnull().sum()
na_count

np.int64(0)

In [15]:
Merged_DF = merged_DF.drop(['age', 'BloodPressure'], axis=1)
Merged_DF

,Pregnancies,Glucose,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,gender,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,6.0,148.0,35.0,0.0,33.6,0.627,50.0,1.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,1.0
1,1.0,85.0,29.0,0.0,26.6,0.351,31.0,0.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,0.0
2,8.0,183.0,0.0,0.0,23.3,0.672,32.0,1.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,1.0
3,1.0,89.0,23.0,94.0,28.1,0.167,21.0,0.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,0.0
4,0.0,137.0,35.0,168.0,43.1,2.288,33.0,1.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,3.0,NaN,NaN,NaN,NaN,NaN,80.0,NaN,Female,0.0,0.0,No Info,27.32,6.2,90.0,0.0
100764,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,Female,0.0,0.0,No Info,17.37,6.5,100.0,0.0
100765,0.0,NaN,NaN,NaN,NaN,NaN,66.0,NaN,Male,0.0,0.0,former,27.83,5.7,155.0,0.0
100766,4.0,NaN,NaN,NaN,NaN,NaN,24.0,NaN,Female,0.0,0.0,never,35.42,4.0,100.0,0.0
100767,2.0,NaN,NaN,NaN,NaN,NaN,57.0,NaN,Female,0.0,0.0,current,22.43,6.6,90.0,0.0

In [16]:
# Calculate mean and standard deviation
mean = Merged_DF['SkinThickness'].mean()
std = Merged_DF['SkinThickness'].std()

# Replace NaN values with random values sampled from a normal distribution
Merged_DF['SkinThickness'] = Merged_DF['SkinThickness'].apply(
    lambda x: np.random.normal(mean, std) if pd.isnull(x) else x)
Merged_DF

,Pregnancies,Glucose,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,gender,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,6.0,148.0,35.000000,0.0,33.6,0.627,50.0,1.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,1.0
1,1.0,85.0,29.000000,0.0,26.6,0.351,31.0,0.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,0.0
2,8.0,183.0,0.000000,0.0,23.3,0.672,32.0,1.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,1.0
3,1.0,89.0,23.000000,94.0,28.1,0.167,21.0,0.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,0.0
4,0.0,137.0,35.000000,168.0,43.1,2.288,33.0,1.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,3.0,NaN,-34.896566,NaN,NaN,NaN,80.0,NaN,Female,0.0,0.0,No Info,27.32,6.2,90.0,0.0
100764,2.0,NaN,6.958988,NaN,NaN,NaN,2.0,NaN,Female,0.0,0.0,No Info,17.37,6.5,100.0,0.0
100765,0.0,NaN,13.457030,NaN,NaN,NaN,66.0,NaN,Male,0.0,0.0,former,27.83,5.7,155.0,0.0
100766,4.0,NaN,42.030149,NaN,NaN,NaN,24.0,NaN,Female,0.0,0.0,never,35.42,4.0,100.0,0.0
100767,2.0,NaN,17.682215,NaN,NaN,NaN,57.0,NaN,Female,0.0,0.0,current,22.43,6.6,90.0,0.0

In [17]:
# Calculate mean and standard deviation
mean = Merged_DF['Insulin'].mean()
std = Merged_DF['Insulin'].std()

# Replace NaN values with random values sampled from a normal distribution
Merged_DF['Insulin'] = Merged_DF['Insulin'].apply(
    lambda x: np.random.normal(mean, std) if pd.isnull(x) else x)
Merged_DF

,Pregnancies,Glucose,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,gender,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,6.0,148.0,35.000000,0.000000,33.6,0.627,50.0,1.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,1.0
1,1.0,85.0,29.000000,0.000000,26.6,0.351,31.0,0.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,0.0
2,8.0,183.0,0.000000,0.000000,23.3,0.672,32.0,1.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,1.0
3,1.0,89.0,23.000000,94.000000,28.1,0.167,21.0,0.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,0.0
4,0.0,137.0,35.000000,168.000000,43.1,2.288,33.0,1.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,3.0,NaN,-34.896566,298.530060,NaN,NaN,80.0,NaN,Female,0.0,0.0,No Info,27.32,6.2,90.0,0.0
100764,2.0,NaN,6.958988,143.666184,NaN,NaN,2.0,NaN,Female,0.0,0.0,No Info,17.37,6.5,100.0,0.0
100765,0.0,NaN,13.457030,-228.136659,NaN,NaN,66.0,NaN,Male,0.0,0.0,former,27.83,5.7,155.0,0.0
100766,4.0,NaN,42.030149,114.003180,NaN,NaN,24.0,NaN,Female,0.0,0.0,never,35.42,4.0,100.0,0.0
100767,2.0,NaN,17.682215,-124.962804,NaN,NaN,57.0,NaN,Female,0.0,0.0,current,22.43,6.6,90.0,0.0

In [18]:
Merged_DF

,Pregnancies,Glucose,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,gender,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,6.0,148.0,35.000000,0.000000,33.6,0.627,50.0,1.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,1.0
1,1.0,85.0,29.000000,0.000000,26.6,0.351,31.0,0.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,0.0
2,8.0,183.0,0.000000,0.000000,23.3,0.672,32.0,1.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,1.0
3,1.0,89.0,23.000000,94.000000,28.1,0.167,21.0,0.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,0.0
4,0.0,137.0,35.000000,168.000000,43.1,2.288,33.0,1.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,3.0,NaN,-34.896566,298.530060,NaN,NaN,80.0,NaN,Female,0.0,0.0,No Info,27.32,6.2,90.0,0.0
100764,2.0,NaN,6.958988,143.666184,NaN,NaN,2.0,NaN,Female,0.0,0.0,No Info,17.37,6.5,100.0,0.0
100765,0.0,NaN,13.457030,-228.136659,NaN,NaN,66.0,NaN,Male,0.0,0.0,former,27.83,5.7,155.0,0.0
100766,4.0,NaN,42.030149,114.003180,NaN,NaN,24.0,NaN,Female,0.0,0.0,never,35.42,4.0,100.0,0.0
100767,2.0,NaN,17.682215,-124.962804,NaN,NaN,57.0,NaN,Female,0.0,0.0,current,22.43,6.6,90.0,0.0

In [19]:
Merged_DF = Merged_DF.drop('Outcome', axis=1)
Merged_DF

,Pregnancies,Glucose,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,gender,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,6.0,148.0,35.000000,0.000000,33.6,0.627,50.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,1.0
1,1.0,85.0,29.000000,0.000000,26.6,0.351,31.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,0.0
2,8.0,183.0,0.000000,0.000000,23.3,0.672,32.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,1.0
3,1.0,89.0,23.000000,94.000000,28.1,0.167,21.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,0.0
4,0.0,137.0,35.000000,168.000000,43.1,2.288,33.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,3.0,NaN,-34.896566,298.530060,NaN,NaN,80.0,Female,0.0,0.0,No Info,27.32,6.2,90.0,0.0
100764,2.0,NaN,6.958988,143.666184,NaN,NaN,2.0,Female,0.0,0.0,No Info,17.37,6.5,100.0,0.0
100765,0.0,NaN,13.457030,-228.136659,NaN,NaN,66.0,Male,0.0,0.0,former,27.83,5.7,155.0,0.0
100766,4.0,NaN,42.030149,114.003180,NaN,NaN,24.0,Female,0.0,0.0,never,35.42,4.0,100.0,0.0
100767,2.0,NaN,17.682215,-124.962804,NaN,NaN,57.0,Female,0.0,0.0,current,22.43,6.6,90.0,0.0

In [20]:
Merged_DF['BMI'] = Merged_DF['BMI'].fillna(0) + Merged_DF['bmi'].fillna(0)
Merged_DF

,Pregnancies,Glucose,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,gender,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,6.0,148.0,35.000000,0.000000,33.60,0.627,50.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,1.0
1,1.0,85.0,29.000000,0.000000,26.60,0.351,31.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,0.0
2,8.0,183.0,0.000000,0.000000,23.30,0.672,32.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,1.0
3,1.0,89.0,23.000000,94.000000,28.10,0.167,21.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,0.0
4,0.0,137.0,35.000000,168.000000,43.10,2.288,33.0,Female,0.0,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,3.0,NaN,-34.896566,298.530060,27.32,NaN,80.0,Female,0.0,0.0,No Info,27.32,6.2,90.0,0.0
100764,2.0,NaN,6.958988,143.666184,17.37,NaN,2.0,Female,0.0,0.0,No Info,17.37,6.5,100.0,0.0
100765,0.0,NaN,13.457030,-228.136659,27.83,NaN,66.0,Male,0.0,0.0,former,27.83,5.7,155.0,0.0
100766,4.0,NaN,42.030149,114.003180,35.42,NaN,24.0,Female,0.0,0.0,never,35.42,4.0,100.0,0.0
100767,2.0,NaN,17.682215,-124.962804,22.43,NaN,57.0,Female,0.0,0.0,current,22.43,6.6,90.0,0.0

In [21]:
Merged_DF = Merged_DF.drop('bmi', axis=1)
Merged_DF

,Pregnancies,Glucose,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,gender,hypertension,heart_disease,smoking_history,HbA1c_level,blood_glucose_level,diabetes
0,6.0,148.0,35.000000,0.000000,33.60,0.627,50.0,Female,0.0,NaN,NaN,NaN,NaN,1.0
1,1.0,85.0,29.000000,0.000000,26.60,0.351,31.0,Female,0.0,NaN,NaN,NaN,NaN,0.0
2,8.0,183.0,0.000000,0.000000,23.30,0.672,32.0,Female,0.0,NaN,NaN,NaN,NaN,1.0
3,1.0,89.0,23.000000,94.000000,28.10,0.167,21.0,Female,0.0,NaN,NaN,NaN,NaN,0.0
4,0.0,137.0,35.000000,168.000000,43.10,2.288,33.0,Female,0.0,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,3.0,NaN,-34.896566,298.530060,27.32,NaN,80.0,Female,0.0,0.0,No Info,6.2,90.0,0.0
100764,2.0,NaN,6.958988,143.666184,17.37,NaN,2.0,Female,0.0,0.0,No Info,6.5,100.0,0.0
100765,0.0,NaN,13.457030,-228.136659,27.83,NaN,66.0,Male,0.0,0.0,former,5.7,155.0,0.0
100766,4.0,NaN,42.030149,114.003180,35.42,NaN,24.0,Female,0.0,0.0,never,4.0,100.0,0.0
100767,2.0,NaN,17.682215,-124.962804,22.43,NaN,57.0,Female,0.0,0.0,current,6.6,90.0,0.0

In [22]:
Merged_DF['blood_glucose_level'] = Merged_DF['blood_glucose_level'].fillna(0) + Merged_DF['Glucose'].fillna(0)
Merged_DF

,Pregnancies,Glucose,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,gender,hypertension,heart_disease,smoking_history,HbA1c_level,blood_glucose_level,diabetes
0,6.0,148.0,35.000000,0.000000,33.60,0.627,50.0,Female,0.0,NaN,NaN,NaN,148.0,1.0
1,1.0,85.0,29.000000,0.000000,26.60,0.351,31.0,Female,0.0,NaN,NaN,NaN,85.0,0.0
2,8.0,183.0,0.000000,0.000000,23.30,0.672,32.0,Female,0.0,NaN,NaN,NaN,183.0,1.0
3,1.0,89.0,23.000000,94.000000,28.10,0.167,21.0,Female,0.0,NaN,NaN,NaN,89.0,0.0
4,0.0,137.0,35.000000,168.000000,43.10,2.288,33.0,Female,0.0,NaN,NaN,NaN,137.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,3.0,NaN,-34.896566,298.530060,27.32,NaN,80.0,Female,0.0,0.0,No Info,6.2,90.0,0.0
100764,2.0,NaN,6.958988,143.666184,17.37,NaN,2.0,Female,0.0,0.0,No Info,6.5,100.0,0.0
100765,0.0,NaN,13.457030,-228.136659,27.83,NaN,66.0,Male,0.0,0.0,former,5.7,155.0,0.0
100766,4.0,NaN,42.030149,114.003180,35.42,NaN,24.0,Female,0.0,0.0,never,4.0,100.0,0.0
100767,2.0,NaN,17.682215,-124.962804,22.43,NaN,57.0,Female,0.0,0.0,current,6.6,90.0,0.0

In [23]:
Merged_DF = Merged_DF.drop('Glucose', axis=1)
Merged_DF

,Pregnancies,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,gender,hypertension,heart_disease,smoking_history,HbA1c_level,blood_glucose_level,diabetes
0,6.0,35.000000,0.000000,33.60,0.627,50.0,Female,0.0,NaN,NaN,NaN,148.0,1.0
1,1.0,29.000000,0.000000,26.60,0.351,31.0,Female,0.0,NaN,NaN,NaN,85.0,0.0
2,8.0,0.000000,0.000000,23.30,0.672,32.0,Female,0.0,NaN,NaN,NaN,183.0,1.0
3,1.0,23.000000,94.000000,28.10,0.167,21.0,Female,0.0,NaN,NaN,NaN,89.0,0.0
4,0.0,35.000000,168.000000,43.10,2.288,33.0,Female,0.0,NaN,NaN,NaN,137.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,3.0,-34.896566,298.530060,27.32,NaN,80.0,Female,0.0,0.0,No Info,6.2,90.0,0.0
100764,2.0,6.958988,143.666184,17.37,NaN,2.0,Female,0.0,0.0,No Info,6.5,100.0,0.0
100765,0.0,13.457030,-228.136659,27.83,NaN,66.0,Male,0.0,0.0,former,5.7,155.0,0.0
100766,4.0,42.030149,114.003180,35.42,NaN,24.0,Female,0.0,0.0,never,4.0,100.0,0.0
100767,2.0,17.682215,-124.962804,22.43,NaN,57.0,Female,0.0,0.0,current,6.6,90.0,0.0

In [24]:
min_val = Merged_DF['DiabetesPedigreeFunction'].min()
max_val = Merged_DF['DiabetesPedigreeFunction'].max()

# Replace NaN values with random values sampled from a uniform distribution
Merged_DF['DiabetesPedigreeFunction'] = merged_DF['DiabetesPedigreeFunction'].apply(
    lambda x: np.random.uniform(min_val, max_val) if pd.isna(x) else x
)
Merged_DF

,Pregnancies,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,gender,hypertension,heart_disease,smoking_history,HbA1c_level,blood_glucose_level,diabetes
0,6.0,35.000000,0.000000,33.60,0.627000,50.0,Female,0.0,NaN,NaN,NaN,148.0,1.0
1,1.0,29.000000,0.000000,26.60,0.351000,31.0,Female,0.0,NaN,NaN,NaN,85.0,0.0
2,8.0,0.000000,0.000000,23.30,0.672000,32.0,Female,0.0,NaN,NaN,NaN,183.0,1.0
3,1.0,23.000000,94.000000,28.10,0.167000,21.0,Female,0.0,NaN,NaN,NaN,89.0,0.0
4,0.0,35.000000,168.000000,43.10,2.288000,33.0,Female,0.0,NaN,NaN,NaN,137.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,3.0,-34.896566,298.530060,27.32,1.818514,80.0,Female,0.0,0.0,No Info,6.2,90.0,0.0
100764,2.0,6.958988,143.666184,17.37,1.188854,2.0,Female,0.0,0.0,No Info,6.5,100.0,0.0
100765,0.0,13.457030,-228.136659,27.83,1.648673,66.0,Male,0.0,0.0,former,5.7,155.0,0.0
100766,4.0,42.030149,114.003180,35.42,0.519705,24.0,Female,0.0,0.0,never,4.0,100.0,0.0
100767,2.0,17.682215,-124.962804,22.43,1.720478,57.0,Female,0.0,0.0,current,6.6,90.0,0.0

In [25]:
# Calculate the mode (most frequent value)
mode_value = Merged_DF['heart_disease'].mode()[0]  

# Fill NaN values with the mode
Merged_DF['heart_disease'].fillna(mode_value, inplace=True)

Merged_DF

C:\Users\javer\AppData\Local\Temp\ipykernel_24136\4213870736.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Merged_DF['heart_disease'].fillna(mode_value, inplace=True)

,Pregnancies,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,gender,hypertension,heart_disease,smoking_history,HbA1c_level,blood_glucose_level,diabetes
0,6.0,35.000000,0.000000,33.60,0.627000,50.0,Female,0.0,0.0,NaN,NaN,148.0,1.0
1,1.0,29.000000,0.000000,26.60,0.351000,31.0,Female,0.0,0.0,NaN,NaN,85.0,0.0
2,8.0,0.000000,0.000000,23.30,0.672000,32.0,Female,0.0,0.0,NaN,NaN,183.0,1.0
3,1.0,23.000000,94.000000,28.10,0.167000,21.0,Female,0.0,0.0,NaN,NaN,89.0,0.0
4,0.0,35.000000,168.000000,43.10,2.288000,33.0,Female,0.0,0.0,NaN,NaN,137.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,3.0,-34.896566,298.530060,27.32,1.818514,80.0,Female,0.0,0.0,No Info,6.2,90.0,0.0
100764,2.0,6.958988,143.666184,17.37,1.188854,2.0,Female,0.0,0.0,No Info,6.5,100.0,0.0
100765,0.0,13.457030,-228.136659,27.83,1.648673,66.0,Male,0.0,0.0,former,5.7,155.0,0.0
100766,4.0,42.030149,114.003180,35.42,0.519705,24.0,Female,0.0,0.0,never,4.0,100.0,0.0
100767,2.0,17.682215,-124.962804,22.43,1.720478,57.0,Female,0.0,0.0,current,6.6,90.0,0.0

In [26]:
na_count = Merged_DF['Insulin'].isnull().sum()
na_count

np.int64(0)

In [27]:
negative_count = (merged_DF['DiabetesPedigreeFunction'] < 0).sum()
print(f"Number of negative values: {negative_count}")

Number of negative values: 0

In [28]:
negative_count = (merged_DF['SkinThickness'] < 0).sum()
print(f"Number of negative values: {negative_count}")

Number of negative values: 0

In [31]:
negative_count = (merged_DF['Insulin'] < 0).sum()
print(f"Number of negative values: {negative_count}")

Number of negative values: 0

In [30]:
# Calculate mean and standard deviation
mean = Merged_DF['HbA1c_level'].mean()
std = Merged_DF['HbA1c_level'].std()

# Replace NaN values with random values sampled from a normal distribution
Merged_DF['HbA1c_level'] = Merged_DF['HbA1c_level'].apply(
    lambda x: np.random.normal(mean, std) if pd.isnull(x) else x)
Merged_DF

,Pregnancies,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,gender,hypertension,heart_disease,smoking_history,HbA1c_level,blood_glucose_level,diabetes
0,6.0,35.000000,0.000000,33.60,0.627000,50.0,Female,0.0,0.0,NaN,4.518919,148.0,1.0
1,1.0,29.000000,0.000000,26.60,0.351000,31.0,Female,0.0,0.0,NaN,4.820590,85.0,0.0
2,8.0,0.000000,0.000000,23.30,0.672000,32.0,Female,0.0,0.0,NaN,6.252300,183.0,1.0
3,1.0,23.000000,94.000000,28.10,0.167000,21.0,Female,0.0,0.0,NaN,6.862137,89.0,0.0
4,0.0,35.000000,168.000000,43.10,2.288000,33.0,Female,0.0,0.0,NaN,5.911911,137.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,3.0,-34.896566,298.530060,27.32,1.818514,80.0,Female,0.0,0.0,No Info,6.200000,90.0,0.0
100764,2.0,6.958988,143.666184,17.37,1.188854,2.0,Female,0.0,0.0,No Info,6.500000,100.0,0.0
100765,0.0,13.457030,-228.136659,27.83,1.648673,66.0,Male,0.0,0.0,former,5.700000,155.0,0.0
100766,4.0,42.030149,114.003180,35.42,0.519705,24.0,Female,0.0,0.0,never,4.000000,100.0,0.0
100767,2.0,17.682215,-124.962804,22.43,1.720478,57.0,Female,0.0,0.0,current,6.600000,90.0,0.0

In [33]:
Merged_DF['Gender'] = np.where(Merged_DF['gender'] == 'Female', 0, 1)
Merged_DF

,Pregnancies,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,gender,hypertension,heart_disease,smoking_history,HbA1c_level,blood_glucose_level,diabetes,Gender
0,6.0,35.000000,0.000000,33.60,0.627000,50.0,Female,0.0,0.0,NaN,4.518919,148.0,1.0,0
1,1.0,29.000000,0.000000,26.60,0.351000,31.0,Female,0.0,0.0,NaN,4.820590,85.0,0.0,0
2,8.0,0.000000,0.000000,23.30,0.672000,32.0,Female,0.0,0.0,NaN,6.252300,183.0,1.0,0
3,1.0,23.000000,94.000000,28.10,0.167000,21.0,Female,0.0,0.0,NaN,6.862137,89.0,0.0,0
4,0.0,35.000000,168.000000,43.10,2.288000,33.0,Female,0.0,0.0,NaN,5.911911,137.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,3.0,-34.896566,298.530060,27.32,1.818514,80.0,Female,0.0,0.0,No Info,6.200000,90.0,0.0,0
100764,2.0,6.958988,143.666184,17.37,1.188854,2.0,Female,0.0,0.0,No Info,6.500000,100.0,0.0,0
100765,0.0,13.457030,-228.136659,27.83,1.648673,66.0,Male,0.0,0.0,former,5.700000,155.0,0.0,1
100766,4.0,42.030149,114.003180,35.42,0.519705,24.0,Female,0.0,0.0,never,4.000000,100.0,0.0,0
100767,2.0,17.682215,-124.962804,22.43,1.720478,57.0,Female,0.0,0.0,current,6.600000,90.0,0.0,0

In [34]:
Merged_DF = Merged_DF.drop('gender', axis=1)
Merged_DF

,Pregnancies,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,hypertension,heart_disease,smoking_history,HbA1c_level,blood_glucose_level,diabetes,Gender
0,6.0,35.000000,0.000000,33.60,0.627000,50.0,0.0,0.0,NaN,4.518919,148.0,1.0,0
1,1.0,29.000000,0.000000,26.60,0.351000,31.0,0.0,0.0,NaN,4.820590,85.0,0.0,0
2,8.0,0.000000,0.000000,23.30,0.672000,32.0,0.0,0.0,NaN,6.252300,183.0,1.0,0
3,1.0,23.000000,94.000000,28.10,0.167000,21.0,0.0,0.0,NaN,6.862137,89.0,0.0,0
4,0.0,35.000000,168.000000,43.10,2.288000,33.0,0.0,0.0,NaN,5.911911,137.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,3.0,-34.896566,298.530060,27.32,1.818514,80.0,0.0,0.0,No Info,6.200000,90.0,0.0,0
100764,2.0,6.958988,143.666184,17.37,1.188854,2.0,0.0,0.0,No Info,6.500000,100.0,0.0,0
100765,0.0,13.457030,-228.136659,27.83,1.648673,66.0,0.0,0.0,former,5.700000,155.0,0.0,1
100766,4.0,42.030149,114.003180,35.42,0.519705,24.0,0.0,0.0,never,4.000000,100.0,0.0,0
100767,2.0,17.682215,-124.962804,22.43,1.720478,57.0,0.0,0.0,current,6.600000,90.0,0.0,0

In [35]:
count_hypertension = (merged_DF['smoking_history'] == 'No Info').sum()
print(f"Number of no info cases: {count_hypertension}")

Number of no info cases: 35816

In [43]:
Merged_DF['smoking_history'] = np.where(
    Merged_DF['smoking_history'] == 'No Info', 0,
    np.where(Merged_DF['smoking_history'] == 'never', 1,
    np.where(Merged_DF['smoking_history'] == 'former', 2,
    np.where(Merged_DF['smoking_history'] == 'current', 3, np.nan))))

Merged_DF

,Pregnancies,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,hypertension,heart_disease,smoking_history,HbA1c_level,blood_glucose_level,diabetes,Gender
0,6.0,35.000000,0.000000,33.60,0.627000,50.0,0.0,0.0,NaN,4.518919,148.0,1.0,0
1,1.0,29.000000,0.000000,26.60,0.351000,31.0,0.0,0.0,NaN,4.820590,85.0,0.0,0
2,8.0,0.000000,0.000000,23.30,0.672000,32.0,0.0,0.0,NaN,6.252300,183.0,1.0,0
3,1.0,23.000000,94.000000,28.10,0.167000,21.0,0.0,0.0,NaN,6.862137,89.0,0.0,0
4,0.0,35.000000,168.000000,43.10,2.288000,33.0,0.0,0.0,NaN,5.911911,137.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,3.0,-34.896566,298.530060,27.32,1.818514,80.0,0.0,0.0,0.0,6.200000,90.0,0.0,0
100764,2.0,6.958988,143.666184,17.37,1.188854,2.0,0.0,0.0,0.0,6.500000,100.0,0.0,0
100765,0.0,13.457030,-228.136659,27.83,1.648673,66.0,0.0,0.0,2.0,5.700000,155.0,0.0,1
100766,4.0,42.030149,114.003180,35.42,0.519705,24.0,0.0,0.0,1.0,4.000000,100.0,0.0,0
100767,2.0,17.682215,-124.962804,22.43,1.720478,57.0,0.0,0.0,3.0,6.600000,90.0,0.0,0

In [44]:
# Calculate the mode (most frequent value)
mode_value = Merged_DF['smoking_history'].mode()[0]  

# Fill NaN values with the mode
Merged_DF['smoking_history'].fillna(mode_value, inplace=True)

Merged_DF

C:\Users\javer\AppData\Local\Temp\ipykernel_24136\2644081083.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Merged_DF['smoking_history'].fillna(mode_value, inplace=True)

,Pregnancies,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,hypertension,heart_disease,smoking_history,HbA1c_level,blood_glucose_level,diabetes,Gender
0,6.0,35.000000,0.000000,33.60,0.627000,50.0,0.0,0.0,0.0,4.518919,148.0,1.0,0
1,1.0,29.000000,0.000000,26.60,0.351000,31.0,0.0,0.0,0.0,4.820590,85.0,0.0,0
2,8.0,0.000000,0.000000,23.30,0.672000,32.0,0.0,0.0,0.0,6.252300,183.0,1.0,0
3,1.0,23.000000,94.000000,28.10,0.167000,21.0,0.0,0.0,0.0,6.862137,89.0,0.0,0
4,0.0,35.000000,168.000000,43.10,2.288000,33.0,0.0,0.0,0.0,5.911911,137.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,3.0,-34.896566,298.530060,27.32,1.818514,80.0,0.0,0.0,0.0,6.200000,90.0,0.0,0
100764,2.0,6.958988,143.666184,17.37,1.188854,2.0,0.0,0.0,0.0,6.500000,100.0,0.0,0
100765,0.0,13.457030,-228.136659,27.83,1.648673,66.0,0.0,0.0,2.0,5.700000,155.0,0.0,1
100766,4.0,42.030149,114.003180,35.42,0.519705,24.0,0.0,0.0,1.0,4.000000,100.0,0.0,0
100767,2.0,17.682215,-124.962804,22.43,1.720478,57.0,0.0,0.0,3.0,6.600000,90.0,0.0,0

In [45]:
na_count = Merged_DF['Pregnancies'].isnull().sum()
na_count

np.int64(18)

In [47]:
Merged_DF = Merged_DF.dropna(subset=['Pregnancies'])
Merged_DF

,Pregnancies,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,hypertension,heart_disease,smoking_history,HbA1c_level,blood_glucose_level,diabetes,Gender
0,6.0,35.000000,0.000000,33.60,0.627000,50.0,0.0,0.0,0.0,4.518919,148.0,1.0,0
1,1.0,29.000000,0.000000,26.60,0.351000,31.0,0.0,0.0,0.0,4.820590,85.0,0.0,0
2,8.0,0.000000,0.000000,23.30,0.672000,32.0,0.0,0.0,0.0,6.252300,183.0,1.0,0
3,1.0,23.000000,94.000000,28.10,0.167000,21.0,0.0,0.0,0.0,6.862137,89.0,0.0,0
4,0.0,35.000000,168.000000,43.10,2.288000,33.0,0.0,0.0,0.0,5.911911,137.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100763,3.0,-34.896566,298.530060,27.32,1.818514,80.0,0.0,0.0,0.0,6.200000,90.0,0.0,0
100764,2.0,6.958988,143.666184,17.37,1.188854,2.0,0.0,0.0,0.0,6.500000,100.0,0.0,0
100765,0.0,13.457030,-228.136659,27.83,1.648673,66.0,0.0,0.0,2.0,5.700000,155.0,0.0,1
100766,4.0,42.030149,114.003180,35.42,0.519705,24.0,0.0,0.0,1.0,4.000000,100.0,0.0,0
100767,2.0,17.682215,-124.962804,22.43,1.720478,57.0,0.0,0.0,3.0,6.600000,90.0,0.0,0

In [48]:
na_count = Merged_DF['SkinThickness'].isnull().sum()
na_count

np.int64(0)

In [49]:
na_count = Merged_DF['Insulin'].isnull().sum()
na_count

np.int64(0)

In [50]:
na_count = Merged_DF['BMI'].isnull().sum()
na_count

np.int64(0)

In [51]:
na_count = Merged_DF['diabetes'].isnull().sum()
na_count

np.int64(0)